Analálise de dados com linguagem Python |
Projeto  1 :
Banco Relacional, Python e SQL

In [10]:
#versão do python
from platform import python_version
print(python_version())

3.9.13

In [12]:
#instala o pacote watermark que será utlizado para gravar as versões de outros pacotes 
#utilizados neste notebook
!pip install -q -U watermark

In [15]:
#instalando o pacote iPython-sql para utilizar comandos sql dentro do notebook
!pip install -q ipython-sql

In [14]:
import pandas as pd
import sqlite3

Banco Relacional, Python e SQL

In [16]:
#gerando um datafram
df = pd.DataFrame({'nome': ['Siri', 'Alexa', 'Cortana'],
                   'idade': [28, 47, 18],
                   'cargo': ['Analista de dados', 'Cientista de dados', 'Engenheiro de ados']})

In [17]:
df.head(3)

      nome  idade               cargo
0     Siri     28   Analista de dados
1    Alexa     47  Cientista de dados
2  Cortana     18  Engenheiro de ados

In [27]:
#criando conexão com o banco SQlite
cnn = sqlite3.connect('projeto1_analise_de_dados_pyton/database/dbprojeto1.db')

In [28]:
#insere o dataframe dentro do banco SQlite
df.to_sql('funcionarios', cnn)

3

In [29]:
# Carregando a extensão SQL do iPython-sql para gerar consultas sql dentro do notebook
%load_ext sql

In [30]:
# Definindo o banco de dados
%sql sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db

Agora podemos executar consultas SQL dentro do Jupyter Notebook

In [31]:
%%sql
select * from funcionarios

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(0, 'Siri', 28, 'Analista de dados'),
 (1, 'Alexa', 47, 'Cientista de dados'),
 (2, 'Cortana', 18, 'Engenheiro de ados')]

In [32]:
%%sql
select count(*) from funcionarios

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(3,)]

In [33]:
%%sql
select avg(idade) as 'idade_media' from funcionarios

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(31.0,)]

DESAFIO PYTHON E SQL: Possuimos um arquivo com dados de pacientes que tem ou não diabetes. Precisamos gerar uma amosta de dados com os pacientes com mais de 50 anos e para cada um deles indicar em uma nova coluna se o paciten está normal (BMI menor que 30) ou obeso (BMI maior ou igual a 30). Então devemos gerar um novo arquivo CSV com os dados finais.

In [34]:
df = pd.read_csv('projeto1_analise_de_dados_pyton/dataset/diabetes.csv')

In [35]:
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [36]:
df.shape

(768, 9)

In [37]:
#inserindo dentro do banco de dados
df.to_sql('diabetes', cnn)

768

In [38]:
%%sql
select count(*) from diabetes

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(768,)]

In [40]:
%%sql
select Age, Glucose, Outcome from diabetes
where Glucose > 190
limit 10

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(53, 197, 1),
 (41, 196, 1),
 (41, 194, 1),
 (57, 196, 1),
 (31, 197, 0),
 (24, 193, 0),
 (34, 191, 0),
 (59, 194, 1),
 (29, 196, 1),
 (25, 193, 1)]

In [41]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [69]:
%%sql
create table pacientes (Pregnancies INT,
                       Glucose INT,
                       BloodPressure INT,
                       SkinThickness INT,
                       Insulin INT,
                       BMI DECIMAL (8,2),
                       DiabetesPedigreeFunction DECIMAL (8,2),
                       Age INT,
                       Outcome INT);

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[]

In [70]:
%%sql
insert into pacientes (Pregnancies,
                       Glucose,
                       BloodPressure,
                       SkinThickness,
                       Insulin,
                       BMI,
                       DiabetesPedigreeFunction,
                       Age,
                       Outcome)
select Pregnancies,
       Glucose,
       BloodPressure,
       SkinThickness,
       Insulin,
       BMI DECIMAL,
       DiabetesPedigreeFunction,
       Age,
       Outcome
from diabetes where Age > 50;

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
81 rows affected.

[]

In [71]:
%%sql
select * from pacientes
limit 5

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1)]

In [72]:
%%sql
alter table pacientes
add Perfil VARCHAR(10);

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[]

In [73]:
%%sql
select * from pacientes
limit 5

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, None),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, None),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, None),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, None),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, None)]

In [74]:
%%sql
update pacientes
set Perfil = 'Normal'
where BMI < 30;

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
38 rows affected.

[]

In [75]:
%%sql
update pacientes
set Perfil = 'Obeso'
where BMI >= 30;

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
43 rows affected.

[]

In [76]:
%%sql
select * from pacientes
limit 5

 * sqlite:///projeto1_analise_de_dados_pyton/database/dbprojeto1.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, 'Obeso'),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, 'Normal'),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, 'Normal'),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, 'Obeso'),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, 'Normal')]

Carregando os dados no Pandas e salvando o CSV

In [77]:
query = cnn.execute('select * from pacientes')
query

In [78]:
cols = [coluna[0] for coluna in query.description]
cols

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome',
 'Perfil']

In [79]:
#Gerando o dataframe
df = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
df.shape

(81, 10)

In [80]:
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Perfil
0,2,197,70,45,543,30.5,0.158,53,1,Obeso
1,8,125,96,0,0,0.0,0.232,54,1,Normal
2,10,139,80,0,0,27.1,1.441,57,0,Normal

In [81]:
# Gerando o CSV
df.to_csv('projeto1_analise_de_dados_pyton/dataset/pacientes.csv', index = False)

FIM!!!!!!