### Encoding de Vari√°veis com Label Encoding, One Hot Encoding e Count/Frequency

In [1]:
from platform import python_version
print(python_version())

3.9.13

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')

In [3]:
%reload_ext watermark
%watermark --iversions

numpy  : 1.21.5
pandas : 1.4.4
sklearn: 1.0.2

In [4]:
dados = pd.read_csv('projeto5_analise_de_dados_pyton/Projeto/dados/dataset.csv')

In [5]:
dados.shape

(13, 4)

In [6]:
dados.head()

            Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0  Jaguar F-Type R         69000        18000              6
1  Jaguar F-Type R         35000        34000              3
2  Jaguar F-Type R         57000        26100              5
3  Jaguar F-Type R         22500        40000              2
4  Jaguar F-Type R         46000        31500              4

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Modelo         13 non-null     object
 1   Kilometragem   13 non-null     int64
 2   Preco_Venda    13 non-null     int64
 3   Idade_Veiculo  13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 544.0+ bytes

In [8]:
df_dummies = pd.get_dummies(dados['Modelo'])

In [9]:
df_dummies

    Jaguar F-Type R  Mercedez Benz AMG GLE 53  Mustang Mach 1
0                 1                         0               0
1                 1                         0               0
2                 1                         0               0
3                 1                         0               0
4                 1                         0               0
5                 0                         0               1
6                 0                         0               1
7                 0                         0               1
8                 0                         0               1
9                 0                         1               0
10                0                         1               0
11                0                         1               0
12                0                         1               0

In [10]:
df = pd.concat([dados, df_dummies], axis = 'columns')

In [11]:
df

,Modelo,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,Jaguar F-Type R,69000,18000,6,1,0,0
1,Jaguar F-Type R,35000,34000,3,1,0,0
2,Jaguar F-Type R,57000,26100,5,1,0,0
3,Jaguar F-Type R,22500,40000,2,1,0,0
4,Jaguar F-Type R,46000,31500,4,1,0,0
5,Mustang Mach 1,59000,29400,5,0,0,1
6,Mustang Mach 1,52000,32000,5,0,0,1
7,Mustang Mach 1,72000,19300,6,0,0,1
8,Mustang Mach 1,91000,12000,8,0,0,1
9,Mercedez Benz AMG GLE 53,67000,22000,6,0,1,0
10,Mercedez Benz AMG GLE 53,83000,20000,7,0,1,0
11,Mercedez Benz AMG GLE 53,79000,21000,7,0,1,0
12,Mercedez Benz AMG GLE 53,59000,33000,5,0,1,0

In [12]:
new_df = df.drop(['Modelo'], axis = 1)

In [13]:
new_df

,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,18000,6,1,0,0
1,35000,34000,3,1,0,0
2,57000,26100,5,1,0,0
3,22500,40000,2,1,0,0
4,46000,31500,4,1,0,0
5,59000,29400,5,0,0,1
6,52000,32000,5,0,0,1
7,72000,19300,6,0,0,1
8,91000,12000,8,0,0,1
9,67000,22000,6,0,1,0
10,83000,20000,7,0,1,0
11,79000,21000,7,0,1,0
12,59000,33000,5,0,1,0

In [14]:
x = new_df.drop('Preco_Venda', axis = 1)

In [15]:
y = new_df['Preco_Venda']

In [16]:
modelo_v1 = linear_model.LinearRegression()

In [17]:
modelo_v1.fit(x,y)

LinearRegression()

In [18]:
modelo_v1.predict(x)

array([18705.2723644 , 35286.78445645, 24479.19112468, 41245.76426391,
       29882.98779056, 28023.6135243 , 30614.46818502, 21879.57266964,
       12182.34562104, 26183.72387884, 18929.31674102, 20409.80511857,
       30477.15426156])

In [19]:
modelo_v1.score(x,y)

0.9417050937281083

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
df_car = dados

In [22]:
le = LabelEncoder()

In [23]:
df_car['Modelo'] = le.fit_transform(df_car['Modelo'])

In [24]:
df_car = df_car[['Modelo','Kilometragem', 'Idade_Veiculo', 'Preco_Venda']]

In [25]:
x = df_car.iloc[:,0:3].values

In [26]:
y = df_car.iloc[:,3].values

In [27]:
y

array([18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000,
       22000, 20000, 21000, 33000], dtype=int64)

In [28]:
df_car

    Modelo  Kilometragem  Idade_Veiculo  Preco_Venda
0        0         69000              6        18000
1        0         35000              3        34000
2        0         57000              5        26100
3        0         22500              2        40000
4        0         46000              4        31500
5        2         59000              5        29400
6        2         52000              5        32000
7        2         72000              6        19300
8        2         91000              8        12000
9        1         67000              6        22000
10       1         83000              7        20000
11       1         79000              7        21000
12       1         59000              5        33000

In [29]:
modelo_v2 = linear_model.LinearRegression()

In [30]:
modelo_v2.fit(x,y)

LinearRegression()

In [31]:
modelo_v2.score(x,y)

0.8803425650559956

In [32]:
dados = pd.read_csv('projeto5_analise_de_dados_pyton/Projeto/dados/dataset.csv')

In [33]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [47]:
OHEncoder = ColumnTransformer([('Modelo', OneHotEncoder(), [0])], remainder = 'passthrough')

In [48]:
df_car = dados

In [49]:
df_car

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [43]:
x = df_car.drop('Preco_Venda', axis = 1)

In [50]:
x

                      Modelo  Kilometragem  Idade_Veiculo
0            Jaguar F-Type R         69000              6
1            Jaguar F-Type R         35000              3
2            Jaguar F-Type R         57000              5
3            Jaguar F-Type R         22500              2
4            Jaguar F-Type R         46000              4
5             Mustang Mach 1         59000              5
6             Mustang Mach 1         52000              5
7             Mustang Mach 1         72000              6
8             Mustang Mach 1         91000              8
9   Mercedez Benz AMG GLE 53         67000              6
10  Mercedez Benz AMG GLE 53         83000              7
11  Mercedez Benz AMG GLE 53         79000              7
12  Mercedez Benz AMG GLE 53         59000              5

In [51]:
y = df_car['Preco_Venda'].values

In [46]:
y

array([18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000,
       22000, 20000, 21000, 33000], dtype=int64)

In [52]:
x = OHEncoder.fit_transform(x)

In [54]:
modelo_v3 = linear_model.LinearRegression()

In [55]:
modelo_v3.fit(x,y)

LinearRegression()

In [57]:
modelo_v3.score(x,y)

0.9417050937281083